@using WebClient.Core.Entities;
@using System.Linq;
@model IEnumerable<Permission>
@{
    ViewData["Title"] = "Quyền người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions {

    string RenderFeature(Feature feature)
    {
        var htmlstring = "<li data-id='{0}' data-name='{1}' data-dst='{2}' data-tip='{3}' data-ctr='{4}' data-act='{5}' data-countchild='{6}' data-pr='{7}'>{1}";
        htmlstring = string.Format(htmlstring, feature.Id_ChucNang, feature.Ten_ChucNang, feature.MoTa_ChucNang, feature.Tooltip, feature.Controller_Name, feature.Action_Name, feature.Children == null ? 0 : feature.Children.Count(), feature.Id_ChucNang_Cha);
        if (feature.Children != null && feature.Children.Count() > 0)
        {
            htmlstring += "<ul>";
            foreach (var i in feature.Children)
            {
                htmlstring += RenderFeature(i);
            }
            htmlstring += "</ul>";
        }

        htmlstring += "</li>";

        return htmlstring;
    }
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header with-border">
                        <h3 class="card-title">Danh sách quyền</h3>
                        <div class="card-tools">
                            <a href="/permission/detail" class="btn btn-success btn-sm" id="btn-add-feature">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body">
                        <table id="tbPermission" class="table table-bordered table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th style="width: 70px">Mã quyền</th>
                                    <th>Tên quyền</th>
                                    <th style="width: 90px">Chi tiết</th>
                                    <th style="width: 30px">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = (Model == null) ? 0 : Model.Count();
                                    if (count > 0)
                                    {
                                        var i = 1;
                                        foreach (var p in Model)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>@p.Ma_Quyen</td>
                                                <td class="permission-name">@p.Ten_Quyen</td>
                                                <td><a data-id=@p.Id_Quyen class="btn btn-sm btn-success" href="/permission/detail/@p.Id_Quyen">Xem chi tiết</a></td>
                                                <td><button type="button" data-id=@p.Id_Quyen class="btn btn-sm btn-danger btn-delete-per">Xóa</button></td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách chức năng</h3>
                        <div class="card-tools">
                            <button class="btn btn-success btn-sm" id="btn-save-feature" style="display:none">
                                <i class="fas fa-save"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        @{
                            var features = (IEnumerable<Feature>)ViewBag.Features;
                            var len = features == null ? 0 : features.Count();
                            <div id="@(len > 0 ? "tree-features" : "")">
                                @{
                                    if (len == 0)
                                    {
                                        <span>Không có dữ liệu</span>
                                    }
                                    else
                                    {
                                        <ul>
                                            @foreach (Feature i in ViewBag.Features)
                                            {
                                                @Html.Raw(RenderFeature(i));
                                            }
                                        </ul>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <form asp-antiforgery="true" id="formHidden" style="display:none">
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
    <form id="form-delete" style="display: none!important">
        @Html.AntiForgeryToken()
    </form>
</section>
@section Scripts{
    <script>
        $(function () {
            var $tablePermissions = $('#tbPermission');
            var table = $tablePermissions.DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false,
                'select': true,
                select: {
                    style: 'single'
                },
            });

            table.on('select', function (e, dt, type, indexes) {
                var rowData = table.rows(indexes).data().toArray()[0];
                var idPermission = $(rowData[4]).data("id");
                $("#btn-save-feature").show();

                $treeFeatures.jstree("deselect_all");
                $.ajax({
                    url: "/permission/GetFeaturesByPermissionId",
                    method: "GET",
                    data: {
                        permissionId: idPermission
                    }
                }).done(function (data) {
                    var count = data ? data.length : 0;
                    for (var i = 0; i < count; i++) {
                        var node = findNodeByDataId(data[i]);
                        if (node && node.data.countchild === 0) {
                            $treeFeatures.jstree().check_node(node.id);
                            $treeFeatures.jstree()._open_to(node.id);
                        }
                    }
                });
            }).on('deselect', function (e, dt, type, indexes) {
                $("#btn-save-feature").hide();
                $treeFeatures.jstree("deselect_all");
                $treeFeatures.jstree("close_all");
            });


            var $treeFeatures = $("#tree-features");
            $treeFeatures.jstree({
                "checkbox": {
                    "keep_selected_style": false,
                    // "three_state": false,
                    // "cascade": "undetermined"
                },
                "plugins": ["checkbox"]
            });

            var featureNodes = $treeFeatures.jstree(true).get_json('#', { flat: true });

            function findNodeByDataId(id) {
                var length = featureNodes.length;
                for (var i = 0; i < length; i++) {
                    if (featureNodes[i].data.id == id) {
                        return featureNodes[i];
                    }
                }
            }

            $("#btn-save-feature").click(function () {
                var selectedPermission = table.rows({ selected: true }).data()[0];

                if (!selectedPermission) {
                    alert("Chưa chọn quyền!");
                    return;
                }

                var idPermission = $(selectedPermission[4]).data("id");

                var selectedNodes = $treeFeatures.jstree("get_selected", true);
                var $form = $("#formHidden");
                $form.attr("action", "/permission/SetFeatures");
                $form.attr("method", "post");
                var count = 0;
                for (var i = 0; i < selectedNodes.length; i++) {
                    if (selectedNodes[i].children.length === 0) {
                        $form.append("<input type='text' name='features[" + count++ + "]' value=" + selectedNodes[i].data.id + ">");
                    }
                }

                $form.append("<input type='text' name='permissionId' value=" + idPermission + ">");
                $form.submit();
            });

            $tablePermissions.on("click", "button.btn-delete-per", function () {
                var id = $(this).data("id");
                var $form = $("#form-delete");
                var name = $(this).closest("tr").find("td.permission-name").text();
                modalHelper.showModal({
                    title: "Xóa quyền",
                    body: "Bạn có muốn xóa quyền <strong>" + name + "</strong> không?",
                    buttons: {
                        submit: "Đồng ý",
                        close: "Đóng"
                    },
                    submit: function () {
                        showLoading();
                        $form.attr("action", "/permission/delete");
                        $form.attr("method", "post");
                        $form.append("<input type='text' name='permissionId' value=" + id + ">");
                        $form.submit();
                    },
                });
            });
        })
    </script>
}
