@using WebClient.Core.Entities;
@using WebClient.Core.Helper;
@model WebClient.Core.Entities.Department
@{ ViewData["Title"] = "Chi tiết đơn vị";
}
<style>
    .modal-dialog .btn-primary {
        border-radius: 3px;
        border-color: #d73925;
        color: #fff;
        background-color: #dd4b39;
    }
</style>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#tabDetail" data-toggle="tab">Thông tin chi tiết</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tabManagerEmail" data-toggle="tab">Quản lý Email</a></li>
                        </ul>
                        <!-- /.tab-content -->
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="tabDetail">
                                <form class="form-horizontal" id="formUnit" validate="true" method="post" asp-controller="Department" asp-action="SaveDepartment">
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <input type="hidden" name="id_DonVi" id="idDonVi" value="@Model.Id_DonVi" />
                                        <input id="loaiDonVi" name="Loai_DonVi" value="@Model.Loai_DonVi" hidden>
                                        <input id="capDonVi" name="Cap_DonVi" value="@Model.Cap_DonVi" hidden>
                                        <div class="col-6">
                                            <div class="form-group row">
                                                <label for="madonvi" class="col-sm-3 col-form-label">Mã Đơn vị</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="maDonVi" name="Ma_DonVi" placeholder="Mã đơn vị" required maxlength="60" value="@Model.Ma_DonVi" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="donvicha" class="col-sm-3 col-form-label">Đơn vị cha</label>
                                                <div class="col-sm-9">
                                                    <select name="Id_DV_Cha" class="form-control">
                                                        @{ string RenderDepartmentOptions(IEnumerable<Department> departments, string prefix)
                                                            {
                                                                var htmlString = "";
                                                                foreach (var department in departments)
                                                                {
                                                                    if (department.Id_DonVi == Model.Id_DV_Cha)
                                                                    {
                                                                        htmlString += string.Format("<option value='{2}' selected>{1}{0}</option>", department.Ten_DonVi, prefix, department.Id_DonVi);
                                                                    }
                                                                    else
                                                                    {
                                                                        htmlString += string.Format("<option value='{2}'>{1}{0}</option>", department.Ten_DonVi, prefix, department.Id_DonVi);
                                                                    }
                                                                    if (department.Children != null)
                                                                    {
                                                                        htmlString += RenderDepartmentOptions(department.Children, prefix + "----");
                                                                    }
                                                                }

                                                                return htmlString;
                                                            }
                                                            var lenth = (ViewBag.ListSelect == null) ? 0 : ViewBag.ListSelect.Count;
                                                            if (lenth == 0)
                                                            {
                                                                <option value="0">--Không có đơn vị cha--</option>
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw(RenderDepartmentOptions(ViewBag.ListSelect, ""));
                                                            } }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="tennguoidaidien" class="col-sm-3 col-form-label">Đại diện <span class="text-red">*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="tenNguoiDaiDien" name="TenNguoi_Daidien" placeholder="Tên người đại diện" maxlength="50" required value="@Model.TenNguoi_DaiDien">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="masothue" class="col-sm-3 col-form-label">Mã Số thuế <span class="text-red">*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="maSoThue" name="MaSoThue" placeholder="Mã số thuế" required maxlength="40" value="@Model.MaSoThue">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group row">
                                                <label for="tendonvi" class="col-sm-3 col-form-label">Tên đơn vị <span class="text-red">*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="tenDonVi" name="Ten_DonVi" placeholder="Tên đơn vị" required maxlength="100" value="@Model.Ten_DonVi">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="website" class="col-sm-3 col-form-label">Website</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="website" name="Website" placeholder="Website" maxlength="200" value="@Model.Website">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="diachi" class="col-sm-3 col-form-label">Địa chỉ <span class="text-red">*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="diaChi" name="Dia_Chi" placeholder="Địa chỉ" required maxlength="200" value="@Model.Dia_Chi">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="dienthoai" class="col-sm-3 col-form-label">Điện thoại <span class="text-red">*</span></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="dienThoai" name="Dien_Thoai" placeholder="Số điện thoại" maxlength="15" required value="@Model.Dien_Thoai">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label for="ghichu" class="col-sm-2 col-form-label">Ghi chú</label>
                                                <div class="col-sm-10">
                                                    <textarea type="text" class="form-control" id="ghiChu" name="Ghi_Chu" placeholder="Ghi chú" maxlength="200">@Model.Ghi_Chu</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="/department/" class="btn btn-default">
                                                <i class="fas fa-arrow-left"></i>
                                                Quay về
                                            </a>
                                            <button id="btn-save" type="submit" class="btn btn-primary float-right">
                                                <i class="far fa-save"></i>
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tabManagerEmail">
                                <form class="form-horizontal" show-loader="true" validate="true" id="formmanagerEmail" method="post" asp-controller="Department" asp-action="UpdateEmail">
                                    @Html.AntiForgeryToken()
                                    <input name="Id_DonVi" hidden value="@Model.Id_DonVi" />
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" name="Email" id="dEmail" class="form-control" placeholder="Email..." maxlength="100" value="@Model.Email" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="smtp" class="col-sm-2 col-form-label">SMTP Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="SMTP_Email" id="smtp" class="form-control" placeholder="SMTP-Email..." maxlength="100" value="@Model.SMTP_Email" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="port" class="col-sm-2 col-form-label">Port Email</label>
                                        <div class="col-sm-10">
                                            <input type="number" name="Port_Email" id="port" class="form-control" max="999" min="100" value="@Model.Port_Email" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="accountemail" class="col-sm-2 col-form-label">Tài Khoản Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Account_Email" id="accountEmail" class="form-control" maxlength="32" placeholder="Tài khoản email..." value="@Model.Account_Email" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-2 col-form-label">Mật khẩu email</label>
                                        <div class="col-sm-10">
                                            <input type="password" name="Pass_Email" id="passEmail" class="form-control" maxlength="32" placeholder="Mật khẩu email..." value="@Model.Pass_Email" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="/department/" class="btn btn-default">
                                                <i class="fas fa-arrow-left"></i>
                                                Quay về
                                            </a>
                                            <button id="btn-save-email" type="submit" class="btn btn-primary float-right">
                                                <i class="far fa-save"></i>
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
