@model Employee
@{
    ViewData["Title"] = "Thông tin cá nhân";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Thông tin</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-Change-Password" data-toggle="tab">Thay đổi mật khẩu</a></li>
                        </ul>
                        <!-- /.tab-content -->
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="settings">
                                <form class="form-horizontal" validate="true" show-loader="true" asp-controller="Account" asp-action="Profile" method="post" id="myform">
                                    <input hidden type="text" value="@Model.Id_NhanVien" name="Id_NhanVien" />
                                    <input hidden type="text" value="@Model.Ma_NhanVien" name="MaNhanVien" />
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Họ tên<span class="text-red"> *</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputHoTen" placeholder="Họ tên" required name="HoTen" value="@Model.Ho_Ten" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="chucvu" class="col-sm-2 col-form-label">Chức vụ<span class="text-red"> *</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" value="@Model.Chuc_Vu" hidden id="hdChucVu" />
                                            <select class="form-control" name="Chuc_Vu" id="dChucVu">
                                                <option value="0">Nhân viên</option>
                                                <option value="1">Giám đốc</option>
                                                <option value="2">Phó giám đốc</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Địa chỉ<span class="text-red"> *</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputDiaChi" placeholder="Địa chỉ" name="DiaChi" value="@Model.Dia_Chi" maxlength="200" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Điện thoại<span class="text-red"> *</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputDienThoai" placeholder="Điện thoại" name="DienThoai" value="@Model.Dien_Thoai" maxlength="10" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" value="@Model.Email" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Ngày sinh<span class="text-red"> *</span></label>
                                        <div class="input-group col-sm-10">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control datepicker float-right" id="datepicker" placeholder="Ngày sinh" name="NamSinh" value="@Model.Nam_Sinh?.ToString(Constants.FormatDate)" required autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Số CMND<span class="text-red"> *</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputSoCMND" placeholder="Số CMND" required maxlength="9" name="SoCMND" value="@Model.So_CMND">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Ngày cấp CMND<span class="text-red"> *</span></label>
                                        <div class="input-group col-sm-10">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control datepicker" id="datepicker1" placeholder="Ngày cấp CMND" name="NgayCapCMND" value="@Model.NgayCap_CMND?.ToString(Constants.FormatDate)" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Nơi cấp CMND<span class="text-red"> *</span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputNoiCapCMND" placeholder="Nơi cấp cmnd" name="NoiCapCMND" value="@Model.NoiCap_CMND" maxlength="200" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Ghi Chú</label>
                                        <div class="col-sm-10">
                                            <textarea type="text" class="form-control" id="ghiChu" placeholder="Ghi chú" name="GhiChu" maxlength="200">@Model.Ghi_Chu</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="/" class="btn btn-default">
                                                <i class="fas fa-arrow-left"></i>
                                                Quay về
                                            </a>
                                            <button type="submit" class="btn btn-primary float-right">
                                                <i class="far fa-save"></i>
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab-Change-Password">
                                <form class="form-horizontal " id="formChangePassword" method="post" asp-controller="Account" asp-action="ChangePassword">
                                    <div class="form-group row">
                                        <label for="MatKhaucu" class="col-sm-2 col-form-label">Mật khẩu cũ <span class="text-red">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="password" name="MatKhauCu" id="matKhau" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="matKhauMoi" class="col-sm-2 col-form-label">Mật khẩu mới <span class="text-red">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="password" name="MatKhauMoi" id="matKhauMoi" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="xacNhanMatKhau" class="col-sm-2 col-form-label">Nhập lại mật khẩu <span class="text-red">*</span></label>
                                        <div class="col-sm-10">
                                            <input type="password" name="XacNhanMatKhau" id="xacNhanMatKhau" class="form-control" />
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="/" class="btn btn-default">
                                                <i class="fas fa-arrow-left"></i>
                                                Quay về
                                            </a>
                                            <button id="btn-save" type="submit" class="btn btn-primary float-right">
                                                <i class="far fa-save"></i>
                                                Lưu
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <!-- /.box-footer -->
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.row -->
</section>
@section Scripts {
    <script type="text/javascript">
        //Date picker
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
        var chucVu = $('#hdChucVu').val();
        $('#dChucVu').val(chucVu);
        $("#formChangePassword").validate({
            rules: {
                MatKhauCu: {
                    required: true,
                    minlength: 5,
                    maxlength: 50
                },
                MatKhauMoi: {
                    required: true,
                    minlength: 5,
                    maxlength: 50
                },
                XacNhanMatKhau: {
                    required: true,
                    minlength: 5,
                    maxlength: 50,
                    equalTo: "#matKhauMoi"
                }
            },
            messages: {
                MatKhauCu: {
                    minlength: "Mật khẩu phải ít nhất 5 kí tự!",
                    maxlength: "Mật khẩu phải ít hơn 50 kí tự!"
                },
                MatKhauMoi: {
                    minlength: "Mật khẩu phải ít nhất 5 kí tự!",
                    maxlength: "Mật khẩu phải ít hơn 50 kí tự!"
                },
                XacNhanMatKhau: {
                    minlength: "Mật khẩu phải ít nhất 5 kí tự!",
                    maxlength: "Mật khẩu phải ít hơn 50 kí tự!",
                    equalTo: "Xác nhận mật khẩu không chính xác!"
                }
            }
        });
    </script>

}

