@using WebClient.Core.Helpers
@using System.Globalization;
@model WebClient.Core.Entities.PhieuBaoHong;
@{
    var isNew = Model.Id == 0;
    ViewData["Title"] = "Báo hỏng";
    KhachHang KhachHang = this.ViewBag.KhachHang;
    IEnumerable<DichVu> dichVu = this.ViewBag.DichVu;
    DichVuKhachHang dvkh = this.ViewBag.DichVuKhachHang;
    AccountInfo account = this.ViewBag.Account;
    IEnumerable<NhanVien> nvKyThuat = this.ViewBag.NVKyThuat;
    IEnumerable<ChiTietPhieuBaoHong> ChiTiet = ViewBag.ChiTiet;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin Báo hỏng</h3>
                    </div>
                    <div class="card-body">
                        <form id="form-save" class="form-horizontal" validate="true" show-loader="true" method="post" action="/baohong/save">
                            <input type="hidden" value="@Model.Id" name="id" />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Dịch vụ</label>
                                        <select class="form-control" name="IdDichVu" required>
                                            @{
                                                foreach (var i in dichVu)
                                                {
                                                    if (dvkh.IdDichVu == i.Id)
                                                    {
                                                        <option data- value="@i.Id" selected>@i.Ten</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i.Id">@i.Ten</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                @{
                                    if (Model.Id > 0)
                                    {
                                        <div class="col-sm-3">
                                            <div class="form-group row">
                                                <label>Trạng thái</label>
                                                <div class="form-control">
                                                    @{
                                                        switch (Model.IdTrangThaiPhieu)
                                                        {
                                                            case 1: <span class="badge badge-light">Phiếu đã gửi</span>
                                                                break;
                                                            case 2:<span class="badge badge-warning">Phiếu đã tiếp nhận</span>
                                                                break;
                                                            case 3:<span class="badge badge-danger">Phiếu giao kỹ thuật</span>
                                                                break;
                                                            case 4:<span class="badge badge-success">Phiếu hoàn thành</span>
                                                                break;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group row">
                                                <label>Giá cước</label>
                                                <div class="form-control" id="giacuoc" style="margin-left: 5px;">
                                                    @(dvkh.GiaCuoc + "đ")
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label>Mô tả</label>
                                        <textarea class="form-control" name="MoTa" maxlength="200">@Model.MoTa</textarea>
                                    </div>
                                </div>
                                @{
                                    if (!account.IsKhachHang && Model.IdTrangThaiPhieu >= 2)
                                    {
                                        var ctKyThuat = ChiTiet.LastOrDefault(x => x.IdTrangThaiPhieu == 3) ?? new ChiTietPhieuBaoHong();
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label>Nhân viên xử lý</label>
                                                <select class="form-control" name="IdNVKyThuat" required>
                                                    @{
                                                        foreach (var i in nvKyThuat)
                                                        {
                                                            if (ctKyThuat.IdNhanVien == i.Id)
                                                            {
                                                                <option value="@i.Id" selected>@i.HoTen</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@i.Id">@i.HoTen</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <label>Nội dung chuyển kĩ thuật (Gửi SMS)</label>
                                                <textarea name="MoTa" class="form-control">@ctKyThuat.MoTa</textarea>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin Khách hàng</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label>Họ tên: </label>
                                <label style="margin-left: 5px">@KhachHang.HoTen</label>
                            </div>
                            <div class="form-group row">
                                <label>Điện thoại: </label>
                                <label style="margin-left: 5px">@KhachHang.SoDienThoai</label>
                            </div>
                            <div class="form-group row">
                                <label>Địa chỉ: </label>
                                <label style="margin-left: 5px">@KhachHang.DiaChi</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @{
            if (Model.IdTrangThaiPhieu == 4 && (account.IsKhachHang || Model.DiemDanhGia.HasValue))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Khách hàng đánh giá</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="/baohong/danhgia" id="form-danhgia">
                                                                <input type="hidden" value="@Model.Id" name="id" />

                                    <div class="col-sm-6">
                                        <div class="form-group row">
                                            <label>Đánh giá</label>
                                            <select class="form-control" name="DiemDanhGia" required data-value="@Model.DiemDanhGia">
                                                <option value="5">Rất hài lòng</option>
                                                <option value="4">Hài lòng</option>
                                                <option value="3">Được</option>
                                                <option value="2">Tạm được</option>
                                                <option value="1">Không hài lòng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <label>Ghi chú</label>
                                            <textarea class="form-control" name="NoiDungDanhGia">@Model.NoiDungDanhGia</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        @{
            if (ChiTiet.Count() > 0)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Lịch sử</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Trạng thái</th>
                                            <th>Thời gian</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var i in ChiTiet)
                                            {
                                                var tenTrangThai = "";
                                                switch (i.IdTrangThaiPhieu)
                                                {
                                                    case 1:
                                                        tenTrangThai = "Phiếu đã gửi"; break;
                                                    case 2:
                                                        tenTrangThai = "Phiếu đã tiếp nhận"; break;
                                                    case 3:
                                                        tenTrangThai = "Phiếu giao kỹ thuật"; break;
                                                    case 4:
                                                        tenTrangThai = "Phiếu giao kỹ thuật"; break;
                                                }
                                                <tr>
                                                    <td>@tenTrangThai</td>
                                                    <td>@i.ThoiGian.ToString("dd/MM/yyyy HH:mm")</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-sm-6">
                <a href="/" class="btn btn-default">
                    <i class="fas fa-arrow-left"></i>
                    Quay về
                </a>
            </div>
            <div class="col-sm-6" style="margin-top: 15px; margin-bottom: 15px">
                @{
                    if (Model.Id > 0 && false)
                    {
                        <button id="btn-delete" type="button" class="btn btn-danger ml-2 float-right">
                            <i class="fas fa-times"></i>
                            Xóa
                        </button>
                        <form id="form-delete" action="/khachhang/delete" method="post" style="display: none !important">
                            <input name="Id" hidden value="@Model.Id" />
                        </form>
                    }
                }
                @{
                    if (account.IsKhachHang && Model.IdTrangThaiPhieu < 2)
                    {
                        <button id="btn-save" type="button" class="btn btn-primary float-right">
                            <i class="far fa-save"></i>
                            Lưu
                        </button>
                    }
                    if (!account.IsKhachHang && account.IdVaiTro == 2 && Model.IdTrangThaiPhieu == 1)
                    {
                        <button id="btn-tiepnhan" type="button" class="btn btn-primary float-right" style="margin-right: 5px">
                            <i class="far fa-save"></i>
                            Tiếp nhận
                        </button>
                    }
                    if (!account.IsKhachHang && account.IdVaiTro == 2 && Model.IdTrangThaiPhieu == 2)
                    {
                        <button id="btn-chuyenkithuat" type="button" class="btn btn-primary float-right" style="margin-right: 5px">
                            <i class="far fa-save"></i>
                            Chuyển kĩ thuật
                        </button>
                    }
                    if (!account.IsKhachHang && account.IdVaiTro == 1)
                    {
                        <button id="btn-hoanthanh" type="button" class="btn btn-primary float-right" style="margin-right: 5px">
                            <i class="far fa-save"></i>
                            Hoàn thành
                        </button>
                    }
                    if (account.IsKhachHang && Model.IdTrangThaiPhieu == 4 && !Model.DiemDanhGia.HasValue)
                    {
                        <button id="btn-guidanhgia" type="button" class="btn btn-primary float-right" style="margin-right: 5px">
                            <i class="far fa-save"></i>
                            Gửi đánh giá
                        </button>
                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            var detailPanel = function () {
                $formKhachHang = $("#form-save");
                function init() {
                    registerEvents();
                    var value = $("[name='DiemDanhGia']").data('value');
                    if (value > 0) {
                        $("[name='DiemDanhGia']").val(value);
                    }
                }

                function registerEvents() {
                    $("#btn-save").click(function () {
                        if (!$formKhachHang.valid()) {
                            return;
                        }

                        modalHelper.showModal({
                            title: "Lưu báo hỏng",
                            body: "Bạn có muốn gửi yêu cầu báo hỏng này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                showLoading();
                                $formKhachHang.submit();
                            }
                        })
                    });
                    $("#btn-tiepnhan").click(function () {
                        modalHelper.showModal({
                            title: "Tiếp nhận",
                            body: "Bạn có muốn tiếp nhận cầu báo hỏng này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                showLoading();
                                $formKhachHang.attr("action", "/baohong/tiepnhan");
                                $formKhachHang.submit();
                            }
                        })
                    });
                    $("#btn-chuyenkithuat").click(function () {
                        modalHelper.showModal({
                            title: "Chuyển kĩ thuật",
                            body: "Bạn có muốn chuyển kĩ thuật xử lý báo hỏng này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                showLoading();
                                $formKhachHang.attr("action", "/baohong/chuyenkythuat");
                                $formKhachHang.submit();
                            }
                        });
                    });
                    $("#btn-hoanthanh").click(function () {
                        modalHelper.showModal({
                            title: "Hoàn thành",
                            body: "Bạn có muốn hoàn thành phiếu báo hỏng này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                showLoading();
                                $formKhachHang.attr("action", "/baohong/hoanthanh");
                                $formKhachHang.submit();
                            }
                        });
                    });
                    $("#btn-guidanhgia").click(function () {
                        modalHelper.showModal({
                            title: "Gửi đánh giá",
                            body: "Bạn có muốn gửi đánh giá này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                showLoading();
                                $("#form-danhgia").attr("action", "/baohong/danhgia");
                                $("#form-danhgia").submit();
                            }
                        });
                    });
                    $("#btn-delete").click(function () {
                        modalHelper.showModal({
                            title: "Xóa báo hỏng",
                            body: "Bạn có muốn xóa khách hàng này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                $("#form-delete").submit();
                            }
                        })
                    });
                }

                var publicInterfaces = {
                    Init: init
                }

                return publicInterfaces;
            }();

            detailPanel.Init();
        });
    </script>
}
