
@model DotTiemVaccineVM;
@{
    var isNew = Model.Id_DotTiem == 0;
    ViewData["Title"] = string.Format("{0} đợt tiêm vaccine", isNew ? "Thêm mới" : "Chi tiết");
}
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Chi tiết</h3>
            </div>
            <div class="card-body">
                <form id="form-save" validate="true" action="/dottiemvaccine/luu" method="post">
                    <input id="id_DotTiem" name="Id_DotTiem" hidden value="@Model.Id_DotTiem" />
                    <input name="Id_DonVi" hidden value="@Model.Id_DonVi" />

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Mã đợt tiêm</label>
                            <div class="form-group">
                                <input class="form-control" type="text" value="@Model.Ma_DotTiem" disabled />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tên kế hoạch tiêm</label>
                                <input class="form-control" type="text" name="Ten_KeHoach" value="@Model.Ten_KeHoach" required maxlength="200" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Tên đơn vị</label>
                                <input class="form-control" type="text" value="@Model.Ten_DonVi" required maxlength="200" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ngày bắt đầu tiêm</label>
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control datetimepicker-input" id="datepicker_start" name="NgayTiem_BatDau" placeholder="Chọn ngày" maxlength="10" autocomplete="off" required
                                           value="@(Model.NgayTiem_BatDau == DateTime.MinValue? DateTime.Now.ToString(Constants.FormatDate) : Model.NgayTiem_BatDau.ToString(Constants.FormatDate))">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ngày kết thúc tiêm</label>
                                <div class="input-group col-sm-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control datetimepicker-input" id="datepicker_end" name="NgayTiem_KetThuc" placeholder="Chọn ngày" maxlength="10" autocomplete="off" required
                                           value="@(Model.NgayTiem_KetThuc == DateTime.MinValue? DateTime.Now.ToString(Constants.FormatDate) : Model.NgayTiem_KetThuc.ToString(Constants.FormatDate))">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Số liều được phân bổ</label>
                                <input class="form-control input-money" type="number" name="SoLuong_DangKy" value="@Model.SoLuong_DangKy" required />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Số liều đã tiêm</label>
                                <input class="form-control input-money" type="number" name="SoLuong_DaTiem" value="@Model.SoLuong_DaTiem" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <div>
                                    @{
                                        List<SelectListItem> listTrangThai = new List<SelectListItem>();
                                        listTrangThai.Add(new SelectListItem
                                        {
                                            Text = "Đóng",
                                            Value = "0"
                                        });
                                        listTrangThai.Add(new SelectListItem
                                        {
                                            Text = "Đang mở",
                                            Value = "1"
                                        });
                                    }
                                    @Html.DropDownListFor(model => Model.Trang_Thai, listTrangThai, new { @class = "form-control", @required = "required", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3">Tình trạng</label>
                                <div>
                                    @{
                                        List<SelectListItem> listTinhTrang = new List<SelectListItem>();
                                        listTinhTrang.Add(new SelectListItem
                                        {
                                            Text = "Chưa đăng ký",
                                            Value = "0"
                                        });
                                        listTinhTrang.Add(new SelectListItem
                                        {
                                            Text = "Đã đăng ký",
                                            Value = "1"
                                        });
                                    }
                                    @Html.DropDownListFor(model => Model.TinhTrang_DangKy, listTinhTrang, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Mô tả:</label>
                                @Html.TextAreaFor(Model => Model.Ghi_Chu, new { @class = "form-control", id = "inputNote", rows = 3, maxlength = 2000 })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            @{
                if (Model.Id_Cha == 0)
                {
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                @{
                                    if (!isNew)
                                    {
                                        <button id="btn-delete" type="button" class="btn btn-danger">
                                            <i class="fas fa-times"></i>
                                            Xóa
                                        </button>
                                        <form id="form-delete" action="/dottiemvaccine/delete" method="post" style="display: none !important">
                                            <input name="id" hidden value="@Model.Id_DotTiem" />
                                        </form>
                                    }
                                }
                                <button id="btn-save" type="button" class="btn btn-primary float-right">
                                    <i class="far fa-save"></i>
                                    Lưu
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @{
            if (Model.Id_Cha == 0)
            {
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách đợt tiêm con</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button id="btn-search" hidden class="float-right btn btn-default"><i class="fas fa-search"></i> Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tbl-dat" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đơn vị</th>
                                    <th>Số liều được phân bổ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $(".datetimepicker-input").datepicker({
                autoclose: true,
                todayHighlight: true,
                orientation: "bottom right"
            });

            var tablePanel = function () {
                var $idDotTiem = $("#id_DotTiem");
                var $panel = $("#tbl-dat");
                var dataTable;
                function init() {
                    dataTable = $panel.DataTable({
                'paging': true,
                "responsive": true,
                'lengthChange': true,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false,
                "processing": true, // for show progress bar
                "oLanguage": DataTable.language,
                "serverSide": true,
                "ajax": {
                    "url": "/DotTiemVaccine/layDsDotTiemConTheoIdCha",
                    "type": "GET",
                    "data": function (d) {
                        d.id_Cha = $idDotTiem.val();
                    }
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.settings._iDisplayStart + meta.row + 1 || "";
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return full.ten_DonVi || "";
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var soLuongDangKy = full.soLuong_DangKy || "0";
                            return '<input type="number" id="soLuong_DangKy" value="' + soLuongDangKy + '"/>'
                        }
                    }
                ]
                    });
                    registerEvent();
                }

                function registerEvent() {
                    
                    $("#btn-save").click(function () {
                        var $form = $("#form-save");
                        var tongSoLuongCha = $('[name=SoLuong_DangKy]').val();
                        if (!$form.valid()) {
                            return;
                        }
                        $("#form-save input[name='ds_Id_DotTiem[]']").remove();
                        $("#form-save input[name='ds_Id_DonVi[]']").remove();
                        $("#form-save input[name='ds_SoLuong_DangKy[]']").remove();

                        var dsDotTiem = [];
                        var tongSoLuong = 0;
                        dataTable.rows().every(function () {
                            var data = this.data();
                            var soLuongMoi = $(dataTable.cell(this.index(), 2).node()).find('input').val();
                            tongSoLuong += parseInt(soLuongMoi);
                            data.soLuong_DangKy = soLuongMoi;
                            dsDotTiem.push(data);
                        });

                        if (tongSoLuong > parseInt(tongSoLuongCha)) {
                            var alertOption = {
                                title: "Số lượng vaccine đăng ký lớn hơn số lượng phân bổ.",
                                type: alertHelper.AlertTypes.Error,
                                timer: 5000
                            }
                            alertHelper.showAlert(alertOption);
                            return;
                        }

                        for (var i = 0; i < dsDotTiem.length; i++) {
                            $form.append("<input name='ds_Id_DotTiem[]' value='" + dsDotTiem[i].id_DotTiem + "' type='hidden' />");
                            $form.append("<input name='ds_Id_DonVi[]' value='" + dsDotTiem[i].id_DonVi + "' type='hidden' />");
                            $form.append("<input name='ds_SoLuong_DangKy[]' value='" + dsDotTiem[i].soLuong_DangKy + "' type='hidden' />");
                        }

                        modalHelper.showModal({
                            title: "Lưu đợt tiêm",
                            body: "Bạn có muốn lưu đợt tiêm này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                $form.submit();
                            },
                        })
                    });

                    $("#btn-delete").click(function () {
                        modalHelper.showModal({
                            title: "Xóa đợt tiêm",
                            body: "Bạn có muốn xóa đợt tiêm này không?",
                            buttons: {
                                submit: "Đồng ý",
                                close: "Đóng"
                            },
                            submit: function () {
                                $("#form-delete").submit();
                            },
                        })
                    });
                }

                function reload() {
                    dataTable.ajax.reload();
                }

                var publicInterfaces = {
                    init: init,
                    reload: reload
                };

                return publicInterfaces;
            }();

            $("#btn-search").trigger("click");
            $("#btn-search").click(function () {
                tablePanel.reload();
             });

            tablePanel.init();
        });</script>
}