@using WebClient.Core.Models;
@model DotTiem_VaccineVM;
@{
    ViewData["Title"] = "Đăng ký tiêm vaccine";
    AccountInfo account = this.ViewBag.Account;
    IEnumerable<DmDoiTuongUuTienInfo> doiTuongUuTien = this.ViewBag.DoiTuongUuTien;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin đợt tiêm vaccine</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tên đợt tiêm</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" value="@Model.Ten_KeHoach" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Tình trạng</label>
                                    <div class="col-sm-9">
                                        @{
                                            if (Model.TinhTrang_DangKy == Constants.States.Actived.GetHashCode())
                                            {
                                            <h5><span class="badge badge-success">Đã đăng ký</span></h5>
                                            }
                                            else
                                            {
                                            <h5><span class="badge badge-danger">Chưa đăng ký</span></h5>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Số lượng</label>
                                    <div class="col-sm-7">
                                        <input type="email" id="ipt-soluongdk" class="form-control" value="@Model.SoLuong_DangKy" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label" title="Hạn cuối đăng ký">Hạn cuối ĐK</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" value="@Model.HanCuoi_DangKy?.ToString(Constants.FormatDate)" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Trạng thái</label>
                                    <div class="col-sm-7">
                                        @{
                                            if (Model.Trang_Thai == Constants.States.Actived.GetHashCode())
                                            {
                                            <h5><span class="badge badge-success">Đang mở</span></h5>
                                            }
                                            else
                                            {
                                            <h5><span class="badge badge-danger">Đã đóng</span></h5>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Ngày tiêm</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" value="@string.Format("{0} - {1}", Model.NgayTiem_BatDau.ToString(Constants.FormatDate), Model.NgayTiem_KetThuc.ToString(Constants.FormatDate)) " disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @{
                            if (Model.Trang_Thai == Constants.States.Actived.GetHashCode())
                            {
                                if (Model.TinhTrang_DangKy == Constants.States.Disabed.GetHashCode())
                                {
                            <button id="btn-register" class="btn btn-success">
                                <i class="fas fa-paper-plane"></i>
                                Đăng ký
                            </button>
                                }
                                else
                                {
                            <button id="btn-unregister" class="btn btn-danger">
                                <i class="fas fa-undo"></i>
                                Hủy đăng ký
                            </button>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="nhucautiem" class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tìm kiếm</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Đối tượng tiêm</label>
                                    <div class="col-sm-7">
                                        <select class="form-control select-box" name="DsDoiTuongUuTien">
                                            <option value="0">--Tất cả--</option>
                                            @{
                                                foreach (var doiTuong in doiTuongUuTien)
                                                {
                                                <option value="@doiTuong.Id_DoiTuong">@string.Format("[{0}] - {1}", doiTuong.Ma_DoiTuong, doiTuong.Nghe_Nghiep)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Giới tính</label>
                                    <div class="col-sm-7">
                                        <select class="form-control select-box" name="GioiTinh">
                                            <option value="0">--Tất cả--</option>
                                            <option value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Tiêm chủng</label>
                                    <div class="col-sm-7">
                                        <select class="form-control select-box" name="SoMuiDaTiem">
                                            <option value="-1">--Tất cả--</option>
                                            <option value="0">Chưa tiêm</option>
                                            <option value="1">Đã tiêm 1 mũi</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-default float-right" type="button" id="btn-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                        <table id="table-nhucautiem" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><input class="select-checkbox" type="checkbox" /></th>
                                    <th title="Họ và tên">Họ tên</th>
                                    <th title="Giới tính">Giới tính</th>
                                    <th title="Số điện thoại">SĐT</th>
                                    <th title="Số CMND/CCCD/Hộ chiếu">CMND</th>
                                    <th title="Đối tượng ưu tiên">Đối tượng</th>
                                    <th title="Tình trạng tiêm chủng">Tiêm chủng</th>
                                </tr>
                            </thead>
                        </table>
                        @{
                            if (Model.TinhTrang_DangKy == Constants.States.Disabed.GetHashCode())
                            {
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary float-right" id="btn-add">
                                        <i class="fa fa-forward" aria-hidden="true"></i>
                                        Thêm danh sách đăng ký
                                    </button>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách đăng ký tiêm (<span id="sp-sl-dangky" class="badge badge-danger">0</span>/<span class="badge badge-success">@Model.SoLuong_DangKy</span>)</h3>
                        <div class="card-tools">
                            @{
                                if (Model.TinhTrang_DangKy == Constants.States.Disabed.GetHashCode())
                                {
                                    <button id="btn-add-excel" class="btn btn-success btn-sm">
                                        <i class="far fa-file-excel"></i>
                                        Thêm mới
                                    </button>
                                    <button id="btn-save" type="button" class="btn btn-primary btn-sm">
                                        <i class="far fa-save" aria-hidden="true"></i> Lưu
                                    </button>
                                }
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="table-dangky" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th title="Họ và tên">Họ tên</th>
                                    <th title="Giới tính">Giới tính</th>
                                    <th title="Số điện thoại">SĐT</th>
                                    <th title="Số CMND/CCCD/Hộ chiếu">CMND</th>
                                    <th title="Đối tượng ưu tiên">Đối tượng</th>
                                    <th title="Tình trạng tiêm chủng">Tiêm chủng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var i in Model.DsDoiTuongDangKy)
                                    {
                                    <tr data-idthongtin="@i.Id_ThongTin" data-hoten="@i.Ho_Ten" data-gioitinh="@i.Gioi_Tinh" data-sdt="@i.So_DienThoai" data-cmnd="@i.CMND" data-doituong="@i.Id_DoiTuong_UuTien" data-tiemchung="@i.TinhTrang_TiemChung"></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form id="form-save" method="post" action="/dottiemvaccine/LuuDanhSachDangKy" hidden>
                <input name="id" value="@Model.Id_DotTiem" />
                <input name="DangKyTiem" />
            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- modal thêm mới danh sách đăng ký tiêm từ file excel-->
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <form class="form-horizontal" id="formAdd" validate="true" show-loader="true" method="post" action="/dottiemvaccine/dangkyexcel" enctype="multipart/form-data">
                <input hidden name="id" value="@Model.Id_DotTiem" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-add-dsdktiem">
                            Thêm mới danh sách đăng ký tiêm
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <lable>File Excel: <span class="text-danger">*</span></lable>
                                    <input type="file" name="FileDSDKTiem" id="fileDSDKTiem" accept=".xls, .xlsx" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="btn-modal-add" class="float-right btn btn-success btn-sm" type="submit">
                                    <i class="far fa-save"></i>
                                    Thêm mới
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        var SoLuongDangKy = parseInt($("#ipt-soluongdk").val() || 0);
        var nhuCauTiem = function () {
            var $panel = $("#nhucautiem");
            var table;
            function getDataSearch() {
                var data = {};
                let $inpts = $panel.find("[name]");
                for (let i = 0; i < $inpts.length; i++) {
                    let $ip = $inpts.eq(i);
                    let key = $ip.attr("name");
                    if (key === "DsDoiTuongUuTien" && ($ip.val() != 0 || $ip.val() != "0")) {
                        data["DsDoiTuongUuTien"] = [$ip.val()];
                    } else if (key) {
                        data[key] = $ip.val();
                    }
                }
                
                return data
            }

            function Init() {
                table = $("#table-nhucautiem").DataTable({
                    oLanguage: DataTable.language,
                    serverSide: true,
                    searching: false,
                    ajax: {
                        "url": "/dangkytiemvaccine/search",
                        "type": "POST",
                        "data": function (d) {
                            d.Filter = getDataSearch();
                        }
                    },
                    createdRow: function (row, data, type) {
                        let ds = dangKy.GetDanhSachDangKy();
                        let index = ds.find(x => x.id_ThongTin === data.id_ThongTin);
                        if (index || index === 0) {
                            $(row).hide();
                        }
                    },
                    columns: [
                        {
                            "render": function () {
                                return "";
                            }
                        },
                        {
                            "data": 'ho_Ten'
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.gioi_Tinh === 1) {
                                    return "Nam";
                                }
                                else if (full.gioi_Tinh === 2) {
                                    return "Nữ"
                                }
                                else {
                                    return "Chưa xác định";
                                }
                            }
                        },
                        {
                            "data": 'so_DienThoai'
                        },
                        {
                            "data": 'cmnd'
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ma_DoiTuong_UuTien) {
                                    return '<span class="badge badge-secondary" title="' + full.ngheNghiepUuTien + '">' + full.ma_DoiTuong_UuTien + '</span>';
                                }
                                return "";                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                switch (full.soMuiDaTiem) {
                                    case 0: return '<span class="badge badge-danger">Chưa tiêm</span>';
                                    case 1: return '<span class="badge badge-warning">1 mũi</span>';
                                    case 2: return '<span class="badge badge-success">2 mũi</span>';
                                }
                                return "";
                            }
                        }
                    ],
                    columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }],
                    select: {
                        style: 'multi',
                        selector: 'td:first-child'
                    },
                    order: [[1, 'asc']]
                });
                $panel.find('select.select-box').select2({
                    theme: 'bootstrap4'
                });
                RegisterEvents();
            }

            function RegisterEvents() {
                table.on("click", "th>.select-checkbox", function () {
                    var selected = $(this).is(":checked");
                    if (selected) {
                        table.rows().select();
                    } else {
                        table.rows().deselect();
                    }
                }).on("select deselect", function () {
                    if (table.rows({
                        selected: true
                    }).count() !== table.rows().count()) {
                        $('th>.select-checkbox').prop('checked', false);
                    } else {
                        $('th>.select-checkbox').prop('checked', true);
                    }
                });

                $panel.find("#btn-search").click(function () {
                    table.ajax.reload();
                });

                $("#btn-add").click(function () {
                    var d = table.rows('.selected').data();
                    dangKy.AddData(d);
                    table.draw(true);
                });
            }

            function ReDrawTable() {
                table.draw(true);
            }

            var publicInterface = {
                Init: Init,
                ReDrawTable: ReDrawTable
            };

            return publicInterface
        }();

        var dangKy = function () {
            var table;
            var listDangKy = [];
            function Init() {
                var $trs = $("#table-dangky").find("tbody tr");
                var data = [];
                for (let i = 0; i < $trs.length; i++) {
                    let $tr = $trs.eq(i);
                    let obj = {
                        id_ThongTin: $tr.data("idthongtin"),
                        ho_Ten: $tr.data("hoten"),
                        gioi_Tinh: parseInt($tr.data("gioitinh")) || 0,
                        so_DienThoai: $tr.data("sdt"),
                        cmnd: $tr.data("cmnd"),
                        ma_DoiTuong_UuTien: parseInt($tr.data("doituong")) || 0,
                        soMuiDaTiem: $tr.data("tiemchung")
                    };

                    data.push(obj);
                    listDangKy.push(obj);
                }
                $("#table-dangky").find("tbody").empty();

                table = $("#table-dangky").DataTable({
                    oLanguage: DataTable.language,
                    data: data,
                    columns: [
                        {
                            "data": 'ho_Ten'
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.gioi_Tinh === 1) {
                                    return "Nam";
                                }
                                else if (full.gioi_Tinh === 2) {
                                    return "Nữ"
                                }
                                else {
                                    return "Chưa xác định";
                                }
                            }
                        },
                        {
                            "data": 'so_DienThoai',
                        },
                        {
                            "data": 'cmnd',
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                if (full.ma_DoiTuong_UuTien) {
                                    return '<span class="badge badge-secondary" title="' + full.ngheNghiepUuTien + '">' + full.ma_DoiTuong_UuTien + '</span>';
                                }
                                return "";
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                switch (full.soMuiDaTiem) {
                                    case 0: return '<span class="badge badge-danger">Chưa tiêm</span>';
                                    case 1: return '<span class="badge badge-warning">1 mũi</span>';
                                    case 2: return '<span class="badge badge-success">2 mũi</span>';
                                }
                                return "";
                            }
                        },
                        {
                            "data": null,
                            orderable: false,
                            "render": function (data, type, full, meta) {
                                return "<button class='btn-remove-item btn btn-sm btn-danger'><i class='fa fa-times' aria-hidden='true'></i></button>"
                            }
                        }
                    ]
                });
                UpdateStatus();
                RegisterEvents();
            }

            function RegisterEvents() {
                $("#table-dangky").on("click", ".btn-remove-item", function () {
                    var $tr = $(this).parents('tr');
                    var data = table.row($tr).data();
                    table.row($tr).remove().draw();
                    for (let i = 0; i < listDangKy.length; i++) {
                        if (listDangKy[i].id_ThongTin === data.id_ThongTin) {
                            listDangKy.splice(i, 1);
                            nhuCauTiem.ReDrawTable();
                            break;
                        }
                    }

                    UpdateStatus();
                });

                $("#btn-save").click(function () {
                    Submit(0); // luu
                });

                $("#btn-register").click(function () {
                    Submit(1); // dang ky
                });

                $("#btn-unregister").click(function () {
                    modalHelper.showModal({
                        title: "Hủy danh sách đăng ký tiêm vaccine",
                        body: "Bạn có thực sự muốn <strong>hủy</strong> danh sách tiêm vaccine này không.",
                        buttons: {
                            submit: "Đồng ý",
                            close: "Đóng"
                        },
                        submit: function () {
                            showLoading();
                            $("#form-save").attr("action", "/dottiemvaccine/HuyDangKy");
                            $("#form-save").submit();
                        }
                    });
                    
                });
            }

            function Submit(status) {
                modalHelper.showModal({
                    title: (status == 1 ? "Đăng ký" : "Lưu") + " danh sách ký tiêm vaccine",
                    body: "Bạn có thực sự muốn <strong>" + (status == 1 ? "đăng ký" : "lưu") + "</strong> danh sách tiêm vaccine này không.<br>Số lượng đăng ký <strong>" + listDangKy.length + "/" + SoLuongDangKy + "</strong>",
                    buttons: {
                        submit: "Đồng ý",
                        close: "Đóng"
                    },
                    submit: function () {
                        $("#form-save").find("[name='DangKyTiem']").val(listDangKy.map(function (e) { return e.id_ThongTin }).join(";"));
                        $("#form-save").append("<input name='dangky' value='" + status + "'/>");
                        showLoading();
                        $("#form-save").submit();
                    }
                });
            }

            function AddData(data) {
                for (let i = 0; i < data.length; i++) {
                    let index = listDangKy.find(x => x.id_ThongTin === data[i].id_ThongTin);
                    if (!(index >= 0)) {
                        if (listDangKy.length + 1 > SoLuongDangKy) {
                            alert("Số lượng đăng ký nhiều hơn số lượng được phân bổ. Số lượng tối đa đăng ký là " + SoLuongDangKy + " người");
                            break;
                        } else {
                            table.row.add(data[i]).draw(false);
                            listDangKy.push(data[i]);
                        }
                    }                    
                }
                UpdateStatus();
                table.draw(true);
            }

            function GetDanhSachDangKy() {
                return listDangKy;
            }

            function UpdateStatus() {
                $("#sp-sl-dangky").text(listDangKy.length + "");
                if (listDangKy.length === SoLuongDangKy) {
                    $("#sp-sl-dangky").removeClass("badge-danger").addClass("badge-success");
                } else {
                    $("#sp-sl-dangky").removeClass("badge-success").addClass("badge-danger");
                }
            }

            var publicInterfaces = {
                Init: Init,
                AddData: AddData,
                GetDanhSachDangKy: GetDanhSachDangKy
            };

            return publicInterfaces;
        }();
        var modalHandle = function () {
            var $modalAdd = $('#modalAdd');
            var $formAdd = $('#formAdd');
            var $btnAdd = $('#btn-add-excel');
            var controlsFormAdd = {
                $inputFile: $formAdd.find('#fileDSDKTiem'),
                $btnModalAdd: $formAdd.find('#btn-modal-add'),
            };

            function init() {
                registerEvents();
                $btnAdd.click(() => {
                    $modalAdd.modal('show');
                });
                controlsFormAdd.$inputFile.on('change', function (e) {
                    var formData = new FormData();
                    formData.append('file',)
                })
            }

            function registerEvents() {
                controlsFormAdd.$btnModalAdd.click(function () {
                    $formAdd.submit();
                });
            }

            var publicInterrfaces = {
                init: init
            };

            return publicInterrfaces;
        }();
        nhuCauTiem.Init();
        dangKy.Init();
        modalHandle.init();
    </script>
}
